services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    container_name: mongo1
    command: [ "mongod", "--replSet", "rs0", "--bind_ip_all" ]
    volumes:
      - mongo-data:/data/db
      - ./backup:/backup
    env_file:
      - .env
    expose:
      - '27017'
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-init:
    image: mongo:latest
    depends_on:
      mongo:
        condition: service_healthy
    command: >
      mongosh --host mongo1 --eval '
        try {
          rs.status()
        } catch (err) {
          rs.initiate({
            _id: "rs0",
            members: [{ _id: 0, host: "mongo1:27017" }]
          })
        }
      '

volumes:
  mongo-data:
